body {
    background-color: black;
}


header h1 {
    padding-top: 12px;
}

.magenta {
    background-color: #f02c90;
    color: #1ef3ed;
    border: solid #eb6d09 2px;
}

.padding {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.content {
    margin: 0 auto;
    max-width: 680px;
    max-height: 440px;
    text-align: center;
}


.content-header {
    padding-top: 16px;
}

.content-body {
    padding-top: 8px;
    height: 350px;
    font-size: 22px;
}

#loadQuiz {
    padding-top: 60px;
}

li {
    list-style-type: none;
}

.high-score {
    padding-top: 40px;
    padding-bottom: 60px;
}

#btn {
    border: solid 2px #eb6d09;
    background-color: #1ef3ed;
    color: #1ef3ed;
}